c_cpp_properties.json
dist/*
settings.json
*.ud
*.o
ubftab/include
services/connectserver/connectserver
services/dataserver/dataserver
services/joinserver/joinserver
services/mainserver/mainserver
services/worldserver/worldserver
libmucore.a
libpgdrv.a